
# R / RStudio
.Rhistory
.RData
.Rproj.user/
.Renviron

# OS
.DS_Store
Thumbs.db

# (we now KEEP figs/ and reports/ in Git)

# Large/temp data patterns (optional)
data/*.rds
data/*.zip
data/*_tmp.csv

